[Desktop Entry]
Name=ROX-AppFactory
Comment=Automates the creation of ROX wrappers
Comment[pl]=Automatyzuje proces tworzenia wrapperów ROXa
Exec=/usr/lib/rox/AppFactory/AppRun
Icon=rox-AppFactory.png
Terminal=false
Type=Application
Categories=Development;
Encoding=UTF-8
# vi: encoding=utf-8